@model List<SuperComplicatedSystem.Models.PC>

@foreach (var PC in Model)
{
    <div>@PC.name
    @foreach (var component in @PC.components)
    {
        <div>@component.Type</div>
        <div>@component.Model</div>
        <br/>
    }
    </div>
    <br/>
}